<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Professor review{% endblock %}</title>


  {% load static  %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <!-- Loads path to static files -->
    <link rel="stylesheet" type="text/css" href="{% static 'review/style.css'%}">

  {% block link %}
  {% endblock %}
  

</head>
<body>

<!--Navbar  -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <!-- Navbar-header -->
    <div class="navbar-header" id="nav-header">
      <a class="navbar-brand" href="#">MyproffReview</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'review:index'%}">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Find by Deapartment <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Mathematics</a></li>
          <li><a href="#">Computer Science</a></li>
          <li><a href="#">Electrical</a></li>
        </ul>
      </li>
          </ul>

      <!-- These are glyphicon icons -->

  <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
        
        <li><a href="{% url 'review:profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href="{% url 'review:Logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
           

    {% else %}
            <li><a href="{% url 'review:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'review:Login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

    {% endif%}
    </ul>
  </div>
</nav>
  

</body>
{% block body %}
{% endblock%}

</html>
