{% extends "review/base.html" %}
{% block title %}review {% endblock %}
{% block body %}


{# Here comes the Jumbotron #}
<div class="jumbotron">
	<div class="container-fluid text-center ">
		<h1 id="logo-heading">ProffReview</h1>
		<br>
		<h3>We enable you to review Professors in IIT Delhi<br> You can watch rating
			and even rate your Professors . Why to wait?? <br>Join Now</h3>

	</div>
</div>	

	<div class="text-center" >
		<h1>Search By Professor Name </h1>
		<br><br>
		{% csrf_token %}
		<input type="text" name="search" id="search" placeholder="Enter Professor Name" class="Input-search" />
		
		{# The Input we Type is taken By ajax and Handled  #}
		<div id='search-results' class="Searches" >

			{# Jquery Will FIll this List With results it Get from Search functions #}
		</div>


	</div>

		<div class="container-fluid bg-3 text-center">    
		  
		  <h2 font="Satisfy">Choose By Department</h3><br>
		  
		<div class="row">
		  {% for P in dept  %}
		  <div>
		    <div  id='tiles'>
		    	<br><br><br>
		    <h1 class="">

		      <a href="{% url 'review:prof_details' P.id %}" id='xyz'">
		      		{{P.dept_name}}
		      </a>	
		   	</h1>
		      
		    </div>
		   {% endfor %}
		    
		</div>
		

		</div>



{% endblock %}