{% extends "review/base.html" %}
{% block title %}review {% endblock %}
{% block body %}

	<div class="container-fluid text-center">
		<h1 id="logo-heading">ProffReview</h1>
		<br>
		<h3>We enable you to review Professors in IIT Delhi<br> You can watch rating
			and even rate your Professors . Why to wait?? <br>Join Now</h3>

	</div>

	<div class="container-fluid text-center">
		<h2>The list of Professors are in  ::</h2>

	</div>
	{#  here comes each professors in a card layout #}
			<div class="row">

				{% for P in Prof %}
			<div class="card" style="width:20%">
		  <img class="card-img-top" id="card-image" src="{{P.image.url}}" alt="Card image">
		  <div class="card-body">
		    <h4 class="card-title">{{ P.Name }}</h4>
		    
		    <a href="{% url 'review:details' P.id %}" class="btn btn-primary streched-link">See Profile</a>
		  </div>
		</div>
					{% endfor %}
</div>
{% endblock %}