*{
	font-family: Montserrat
}
body{
	background: url('images/background.webp')
}

.navbar-brand{
	font-family: 'Satisfy' ,cursive;
	color: #20B2AA;
}
.navbar{
	border-radius: 0;
}

#logo-heading{
	font-family: 'Satisfy',cursive;
	color: #20B2AA;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
#registration{
		color: #fff;
		background: #19aa8d;
		font-family: 'Roboto', sans-serif;
		}
		.form-control, .form-control:focus, .input-group-addon {
			border-color: #e1e1e1;
		}
	    .form-control, .btn {        
	        border-radius: 3px;
	    }
		.signup-form {
			width: 390px;
			margin: 0 auto;
			padding: 30px 0;
		}
	    .signup-form form {
			color: #999;
			border-radius: 3px;
	    	margin-bottom: 15px;
	        background: #fff;
	        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	        padding: 30px;
	    }
		.signup-form h2 {
			color: #333;
			font-weight: bold;
	        margin-top: 0;
	    }
	    .signup-form hr {
	        margin: 0 -30px 20px;
	    }
		.signup-form .form-group {
			margin-bottom: 20px;
		}
		.signup-form label {
			font-weight: normal;
			font-size: 13px;
		}
		.signup-form .form-control {
			min-height: 38px;
			box-shadow: none !important;
		}	
		.signup-form .input-group-addon {
			max-width: 42px;
			text-align: center;
		}
		.signup-form input[type="checkbox"] {
			margin-top: 2px;
		}   
	    .signup-form .btn{        
	        font-size: 16px;
	        font-weight: bold;
			background: #19aa8d;
			border: none;
			min-width: 140px;
	    }
		.signup-form .btn:hover, .signup-form .btn:focus {
			background: #179b81;
	        outline: none;
		}
		.signup-form a {
			color: #fff;	
			text-decoration: underline;
		}
		.signup-form a:hover {
			text-decoration: none;
		}
		.signup-form form a {
			color: #19aa8d;
			text-decoration: none;
		}	
		.signup-form form a:hover {
			text-decoration: underline;
		}
		.signup-form .fa {
			font-size: 21px;
		}
		.signup-form .fa-paper-plane {
			font-size: 18px;
		}
		.signup-form .fa-check {
			color: #fff;
			left: 17px;
			top: 18px;
			font-size: 7px;
			position: absolute;
		}

#tiles {
	width: 24%
	height: 200px ;
	text-align: center;
	background-color:#20B2AA;
	margin-bottom:5px;
	margin-right: 5px;	
	margin-left: 5px;
	font-family: 'Satisfy',cursive;  
}
#xyz{
	color: white;
}
#tiles:hover{
	background-color: #DCDCDC;
}

#profile{
    width: 40px;
    height: 40px;

    
}
#profile_image{
	border: 1px solid black;
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
}
.text-large{
	font-size: 150%
}
hr{
	border-top: 1px solid black;
	
	margin-bottom: 20px;
}

.testimonial-quote {
    font-size: 16px;
}

.testimonial-quote blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;

    background: none;
    color: gray;
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 600;
}

.testimonial-quote blockquote * {
    box-sizing: border-box; 
}

.testimonial-quote blockquote p {
    color: #75808a; 
    line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;    
    text-shadow: none;
    z-index: -300;
}

.testimonial-quote img {
    border: 3px solid #9CC1D3;
    border-radius: 50%;
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -.2em; 
    left: 0;    
}

.testimonial-quote cite {
    color: gray;
    display: block;
    font-size: .8em; 
}
  
.testimonial-quote cite span {
    color: #5e5e5e;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white; 
}

.testimonial-quote {
    position: relative; 
}

.testimonial-quote .quote-container {
    padding-left: 160px; 
}
  
.testimonial-quote.right .quote-container {
    padding-left: 0;
    padding-right: 160px; 
}

.testimonial-quote.right img {
    left: auto;
    right: 0;
}

.testimonial-quote.right cite {
    text-align: right; 
}